.link:hover{
    cursor: pointer !important;
    background-color: rgb(155, 153, 153) !important;
    color: white;
    background: rgb(155, 153, 153) !important;
}

.top-space {
    margin-top: 1rem
}

.sidebar-center-element {
    margin-left: 25%;
}

.padded-1 {
    padding: 2rem;
}

.warning {
    color: red;
}

.warning-field {
    border-color: red;
}