<div class="form-group">
    <label>Publisher Name</label>
    <input type="text" id="input-publisher-name" class="form-control form-input ministry-board-input" placeholder="Patrick Johnson">
    <small hidden class="warning" id="input-publisher-name-warning">Please check the data inserted.</small>
</div>
<div class="form-actions">
    <button class="btn btn-large btn-default link home-panel-button">Cancel</button>
    <button class="btn btn-large btn-primary link" id="create_publisher">OK</button>
</div>